html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #f6f6f7;
}

header{
    background: #2d3136;
    padding:20px 10px 40px 10px;
}

.header--logo{
    padding:10px 0 15px 0;
}

.mail-icon{
    margin:0 auto;
    float:none;
}

.comment-form{
    padding:15px 0;
}

.comment-form--label{
    display: block;
    color: #d7d7d7;
    font-size:1.5em;
    font-weight:300;
    padding:0 0 5px 0;
}

.comment-form--label span{
    color: #be393b;
    vertical-align: middle;
}

.comment-form--input{
    height:60px;
    padding:0 20px;
}

.comment-form--comment{
    padding: 20px;
}

.comment-form--input, .comment-form--comment{
    border:1px solid #4c4f53;
    background: transparent;
    color:#d7d7d7;
    font-size:1.2em;
}

.has-error .comment-form--input,
.has-error .comment-form--comment{
    border: 1px solid #743538;
}

.comment-form--btn,.comment-form--btn:hover{
    margin-top: 20px;
    background: #be393b;
    color:#fff;
    padding:10px 30px;
    font-size: 1.5em;
    float:right;
}

article{
    padding-bottom:60px;
}

.comment-h2{
    text-align: center;
    padding:40px 0;
    font-size: 2.2em;
}

.comment-item__even,
.comment-item__odd{
    border:none;
}

.comment-item .panel-title{
    text-align: center;
    color:#fff;
    font-size: 1.5em;
}

.comment-item__even .panel-heading{
    background: #4b596c;
}

.comment-item__odd .panel-heading{
    background: #58ad52;
}

.comment-item__even .panel-body{
    background: #e9eef3;
}

.comment-item__odd .panel-body{
    background: #deebde;
}


.comment-item__even .comment-item--comment{
    color:#767582;
}

.comment-item__odd .comment-item--comment{
    color:#768275;
}

.comment-item .panel-body{
    padding:20px 20px 0 20px;
    min-height: 180px;
}

.comment-item--email{
    font:1.2em Roboto;
    font-weight:bold;
    text-align: center;
}

.comment-item--comment{
    padding-top: 10px;
    font:1.2em Roboto;
    text-align: center;
    font-weight: 100;
}

footer {
    background: #2d3136;
    padding:30px 0 20px 0;
}

.footer--img{
    width: 70%;
}

.footer-social{
    float:right;
}

.footer-social--item{
    display: inline-block;
    width: 50px;
}

.footer--link{
    text-align: center;
}

@media screen and (max-width: 768px) {
    header{
        padding: 10px;
    }

    .comment-form--input{
        height: 40px;
        padding: 0 10px;
    }

    .comment-form--comment{
        padding: 10px;
    }

    .comment-form--label,.comment-form--input,.comment-form--comment,.comment-form--btn,.comment-form--btn:hover{
        font-size:1em
    }
    .comment-h2{
        font-size: 2em;
    }
    .comment-item .panel-title{
        font-size: 1em;
    }
    .comment-item .panel-body{
        padding:10px;
    }
    .comment-item--email,.comment-item--comment{
        font-size: 1em;
    }

    .comment-item .panel-body{
        min-height: 50px;
    }

    .comment-form--btn{
        display: block;
        width: 100%;
    }
}


